<div class='page-header'>
  <h1>Create New Post</h1>
</div>

<%= form_for @post, html: { role: 'form' } do |f| %>

  <div class='form-group'>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', placeholder: 'Enter Title', required:'' %>
    <%= error_messages_for(f.object, :title) %>
  </div>

  <div class='form-group'>
    <%= f.label :body %>
    <%= f.text_area :body, rows: '15', class: 'form-control', placeholder: 'Enter Body', required:'' %>
    <%= error_messages_for(f.object, :body) %>
  </div>

  <button class='btn btn-primary'>Submit</button>

<% end %>
