<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class='ie6' lang='en'> <![endif]-->
<!--[if IE 7 ]>    <html class='ie7' lang='en'> <![endif]-->
<!--[if IE 8 ]>    <html class='ie8' lang='en'> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang='en'> <!--<![endif]-->
  <head>
  	<meta charset='utf-8' />
  	<!-- Set the viewport width to device width for mobile -->
  	<meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta name='author' content='nitinstp23'>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
     <script src='http://html5shim.googlecode.com/svn/trunk/html5.js'></script>
    <![endif]-->

  	<title><%= content_for?(:title) ? yield(:title) : 'Nitin Misra | Blog' %></title>

    <%= stylesheet_link_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'layouts/sidebar' %>
    <div class='col-sm-9 col-sm-offset-3'>
      <%= yield %>

      <footer>
        <hr/>
        <p>&copy; Nitin Misra, 2014</p>
      </footer>
    </div>
  </body>

	<%= javascript_include_tag 'application' %>
</html>
